.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book-item {
  border: 1px solid #ccc;
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0;
  border-radius: 4px;
  box-shadow: 2px 4px 4px #bbb;
  padding: 5px;
}

.book-item__image {
  width: 150px;
  height: 200px;
  box-shadow: 1px solid #aaa;
  border-radius: 4px;
}

.book-item__image img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.book-item__body {
  padding: 15px;
}

.book-item__title {
  font-size: bolder;
  font-family: 'A'
}

.book-item__btn {
  width: 100%;
  height: 38px;
  background: white;
  border: 0;
  border-top: 1px solid #ccc;
  cursor: pointer;
  font-weight: bolder;
  margin-top: 5px;
  color: var(--primary-color);
  transition: all ease-in .3s;
}

.book-item__btn:hover {
  color: white;
  background: var(--primary-color-light);
}